body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.no-bottom-margin {
  margin-bottom: 0;
}

.col-no-padding {
  padding: 0 !important;
}

.hidden {
  display: none;
}

.mobilefix {
  line-height: inherit;
}

a.brand-logo {
  margin-left: 10px;
}

.row .col.s6 {
  &.right-padding-only {
    padding-left: 0;
  }

  &.left-padding-only {
    padding-right: 0;
  }
}