body {
    background-image: url("../img/achtergrond.jpg");
    background-color: #cccccc;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.title, #menu {
	font-family: 'Tangerine', serif !important;
}

.title {
	width: 100%;
	text-align: center;
	margin-bottom: 0px !important;
	padding: 20px;
	font-size: 48px;
}

#title_green {
	color: #A1D490;
	text-shadow: 2px 2px #111;
}

#title_purple {
	color: #C390D4;
	text-shadow: 2px 2px #111;
}

#menu {
	font-size: 30px;
	background-color: #333;
	text-align: center;
	margin: auto;
	border-radius: 0px !important;
}

#homepage_img1 {
	width: 90%;
	margin: 10px;
}

#profile-pic {
	width: 150px;
    float: left;
    position: absolute;
	margin-top: -15px;
	margin-left:-75px;
	left:50%;
	border: 2px solid #111;
}

.navbar.center .container-fluid {
    text-align: center;
}

.navbar.center .container-fluid .nav {
    float: none;
    display:inline-block;
}

.nav-item a {
	padding-bottom: 4px !important;
}

.footer {
	padding-top: 10px;
	text-align: right !important;
}